# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js
.pnpm-store

# testing
/coverage

# next.js
/.next/
/out/
/prisma/
/src/generated/

# production
/build
/public/script.js
/geo
/dist

# misc
.DS_Store
.idea
.yarn
*.iml
*.log
.vscode
.tool-versions

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.*
*.env.*

*.dev.yml

.terraform.lock.hcl
.terraform
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.1768784743.backup
backup.tfstate
terraform.tfstate.1768928831.backup
terraform.tfstate.1768928848.backup
terraform.tfstate.1768928867.backup
terraform.tfstate.1768928886.backup