name: Build and Push Docker Image to ECR     #testing pipeline

on:
    push:
    #   paths:
    #     - "umami/**"
    workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
    build:
        name: Build and Push Image
        runs-on: ubuntu-latest

        steps:
        - name: Checkout Code
          uses: actions/checkout@v4

        - name: Configure AWS Credentials
          uses: aws-actions/configure-aws-credentials@v4
          with:
            role-to-assume: arn:aws:iam::622703418024:role/ci_oidc_role
            aws-region: eu-west-2

        - name: Login to Amazon ECR 
          id: login-ecr
          uses: aws-actions/amazon-ecr-login@v2

        - name: Set image variables
          run: |
            echo "ECR_REGISTRY=${{steps.login-ecr.outputs.registry}}" >> $GITHUB_ENV
            echo "ECR_REPOSITORY=umami-app" >> $GITHUB_ENV
            echo "IMAGE_TAG=${{github.sha}}" >> $GITHUB_ENV

        - name: Build, tag and push image to Amazon ECR
          run: |
            docker build \
                --build-arg DATABASE_TYPE=postgresql \
                -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG ./umami
            docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
            
        - name: Run Trivy Vulnerability Scan
          uses: aquasecurity/trivy-action@0.33.1
          with:
            scan-type: image
            image-ref: ${{env.ECR_REGISTRY}}/${{env.ECR_REPOSITORY}}:${{env.IMAGE_TAG}}
            format: sarif
            output: trivy-results.sarif

        - name: Upload Trivy scan to GitHub Security Tab
          uses: github/codeql-action/upload-sarif@v2
          with:
            sarif_file: 'trivy-results.sarif'