name: Terraform Plan

on:
    push:
    workflow_dispatch:

permissions:
  id-token: write
  contents: read
  security-events: write

jobs:
  terraform-plan: 
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      
      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::622703418024:role/terraform_oidc_role
          aws-region: eu-west-2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.7.0

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v4

      - name: Terraform fmt
        run: terraform fmt -check -recursive
        working-directory: infra
      
      - name: Terraform init  
        run: terraform init
        working-directory: infra
        
      - name: Terraform Validate
        run: terraform validate
        working-directory: infra
         
      - name: TFLint
        run: |
            tflint --init
            tflint --recursive
        working-directory: infra
      
      - name: Run Checkov Scan
        uses: bridgecrewio/checkov-action@v12
        with: 
          directory: infra
          # soft_fail_on: LOW,INFO,MEDIUM
          soft_fail: true
          output_format: cli,sarif
          output_file_path: console,results.sarif
          skip_check: CKV_AWS_163,CKV_AWS_300  
# CKV_AWS_163 Correct Security configuration is made via cli commands, not terraform managed so Checkov flags it.
# CKV_AWS_300 Weird glitch

      - name: Upload Checkov Results to Security Tab
        uses: github/codeql-action/upload-sarif@v4
        if: success() || failure()
        with:
          sarif_file: results.sarif
          
      - name: Terraform Plan
        run: terraform plan
        working-directory: infra